.syllabusEntryPageContainer{
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.selectContainer{
    display: flex;
    gap: 10px;
    width: 100%;
}
.select{
    width: 100%;
}
.newRegulationContainer{
    display: flex;
    align-items: center;
    gap:10px;
    padding: 10px;
}
.datePickerContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.addCoursesButtonContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.courseDetailsContainer{
    display: flex;
   gap: 20px;
   justify-content: space-between;
}
.courseContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 10px;
}

.courseStateIndicatorContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.courseDetails{
    display: flex;
    gap: 20px;
}
.iconButtonContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.poPsoEditContainer{
    display: flex;
    gap: 10px;
}

.info{
    display: flex;
    color: orangered;
    gap: 10px;
    align-items: center;
}

.courseModalContainer .addCoursesButtonContainer{
     justify-content: flex-end;
}
.downloadAndEditCoursesContainer{
    display: flex;
    gap: 10px;
}